.syntax--source.syntax--python {
    .syntax--keyword.syntax--operator.syntax--logical.syntax--python {
        color: @purple;
    }

    .syntax--variable {

        &.syntax--language {
            color: @mono-2;
        }

        &.syntax--parameter {
            color: @dark-orange;
        }
    }
}
